<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Awr Single</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>dbAlias</ion-label>
      <ion-select #server>
        <ion-option [value]="name" *ngFor="let name of getServers()">{{name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>list snapshots days</ion-label>
      <ion-input type="number" #days></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button block (click)="displaySnapshots(server.value, days.value)">List Snapshots</button>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngIf="ss.length >= 1">
      <ion-select>
        <ion-option *ngFor="let name of ss">{{name.SNAP_ID}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>